includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
    tmpDir: build/phpstan
    checkModelProperties: true
    excludePaths:
        - src/FakeClient.php
        - src/Gateways/Fake/FakeGateway.php
